[package]
resolver = "2"
authors = ["dheijl <danny.heijl@telenet.be>"]
edition = "2021"
name = "swyh-rs"
version = "1.10.0"
description = "Stream What You Hear written in Rust"
license = "MIT"
repository = "https://github.com/dheijl/swyh-rs/"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
codegen-units = 1
lto = "thin"

[features]
gui = ["dep:fltk"]
cli = []
NOISE = []
default = ["gui"]

[[bin]]
name = "swyh-rs"
#src = "src/bin/swyh-rs"
required-features = ["gui"]

[[bin]]
name = "swyh-rs-cli"
#src = "src/bin/swyh-rs-cli"
required-features = ["cli"]

[target.'cfg(windows)'.build-dependencies]
winres = "0.1.12"

[dependencies]
bitflags = "2.4.2"
cpal = "0.15.2"
crossbeam-channel = "0.5.12"
ctrlc = { version = "3.4.2", features = ["termination"] }
dasp_sample = "0.11.0"
dirs = "5.0.1"
flac-bound = { version = "0.3.0", default-features = false, features = [
    "libflac-noogg",
] }
#fltk-flow = "0.1.4"
htmlescape = "0.3.1"
if-addrs = "0.11.0"
lexopt = "0.3.0"
log = { version = "0.4.21", features = [
    "max_level_trace",
    "release_max_level_debug",
    "serde",
] }
once_cell = "1.19.0"
parking_lot = "0.12.1"
serde = { version = "1.0.197", features = ["derive"] }
simplelog = "0.12.1"
rand = "0.8.5"
strfmt = "0.2.4"
stringreader = "0.1.1"
tiny_http = "0.12.0"
toml = "0.8.10"
ureq = { version = "2.9.6", default-features = false, features = [
    "charset",
    "gzip",
] }
url = "2.5.0"
xml-rs = "0.8.19"
[target.'cfg(windows)'.dependencies]
fltk = { version = "1.4.25", features = ["use-ninja"], optional = true }
windows = { version = "0.54.0", features = [
    "Win32_Foundation",
    "Win32_System_Threading",
] }
winres = "0.1.12"
[target.'cfg(unix)'.dependencies]
fltk = { version = "1.4.25", features = ["use-ninja"], optional = true }
libc = "0.2.153"

[patch.crates-io]
#fltk = { git = "https://github.com/fltk-rs/fltk-rs" }
#tiny_http = { git = "https://github.com/tiny-http/tiny-http" }
#cpal = { git = "https://github.com/RustAudio/cpal" }
#flac-bound = { git = "https://github.com/dheijl/flac-bound" }
#flac-bound = { git = "https://github.com/nabijaczleweli/flac-bound" }
